# =========================
# 系统文件
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / 本地工程文件
# =========================
.idea/
*.iml
.local-sdk/

# =========================
# 鸿蒙 / DevEco 构建目录
# =========================
hvigor/
.hvigor/
build/
*/build/
out/
release/
debug/
.preview/
.cxx/
.test/

# =========================
# 依赖目录
# =========================
node_modules/
oh_modules/

# =========================
# 本地配置
# =========================
local.properties

# =========================
# 日志 / 缓存 / 临时文件
# =========================
*.log
.cache/
.gradle/
*.tmp
*.swp
*.tsbuildinfo

# =========================
# 签名与产物
# =========================
*.p12
*.jks
*.keystore
*.hap
*.app
*.har

